

<section class="header bg-success">
    <div class="container py-5 text-center justify-content-center align-items-center">
        <img src="assets/images/avataaars.svg" class="header-img col-2" alt="">
        <h1 class="text-white mt-4  fw-bold display-5">START ANGULAR</h1>
        <div class="after-title my-4 border border-2 border-white my-4 position-relative w-25 m-auto">
            <i class="translate-middle text-white bg-success fa-solid fa-star fs-1 p-2 position-absolute"></i></div>
        <p class="text-white fs-4">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>
