<section class="footer ">
    <div class="info py-5 bg-primary">
        <div class="container py-5">
            <div class="row py-3">
                <div class="col-md-4">
                    <div>
                    <h5 class="text-center text-white fs-3 mb-3">LOCATION</h5>
                    <p class="text-center text-white col-6 mx-auto fs-5 ">2215 John Daniel Drive
                        Clark, MO 65243</p>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-4">
                    <div>
                        <h5 class="text-center text-white fs-3 mb-3">AROUND THE WEB</h5>
                        <div class="info-icons text-center" id="">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-solid fa-basketball"></i>
                        </div>
                    </div>
                </div>
                <!-- // -->
                <div class="col-md-4">
                    <div>
                        <h5 class="text-center text-white fs-3 mb-3">ABOUT FREELANCER</h5>
                        <p class="text-center text-white col-8 mx-auto  fs-5">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
                    </div>
                </div>

            </div>

        </div>

  
        </div>
    <!-- </div> -->
    <div class="copyrights bg-dark">
        <p class="m-0 text-center py-4 text-white" >Copyright © Your Website 2021</p>
    </div>
</section>