<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary py-3 text-white">
    <div class="container">
      <a class="navbar-brand text-white fs-3 fw-bold" routerLink="">START ANGULAR</a>
      <button class="navbar-toggler bg-success p-2 text-white border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>menu</span><span class="ms-2 fa-solid fa-bars text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0  ">
          <li class="nav-item">
            <a class="nav-link fs-5 " aria-current="page" routerLinkActive="bg-success text-white rounded-3" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 " aria-current="page" routerLinkActive="bg-success text-white rounded-3" routerLink="portfolio">Portfolio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 " aria-current="page" routerLinkActive="bg-success text-white rounded-3" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 " aria-current="page" routerLinkActive="bg-success text-white rounded-3" routerLink="contact">Contact</a>
          </li>


        </ul>
   
      </div>
    </div>
  </nav>
