.navbar .navbar-nav .nav-item .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
    /*  */
    color: #1abc9c;
}
.navbar .navbar-nav .nav-item .active{
    background-color: var(--bs-success-rgb);
}