<section class="contatc my-5">
    <div class="container">
        <div class="title mb-4  py-3">
            <h1 class="text-primary mt-4  fw-bold display-5 text-center">portfolio</h1>
            <div class="after-title my-4 border border-2 border-primary my-4 position-relative w-25 m-auto text-center">
            <i class="translate-middle text-primary bg-white fa-solid fa-star fs-1 p-2 position-absolute"></i>
        </div>
    </div>

    <div class="contact-form col-6 mx-auto">
        <div class="username mb-4">
            <label  for="" class="text-success px-2">UserName</label>
            <input  type="text" placeholder="UserName" id="username" class="input border-0 w-100 fs-3 pb-4  pt-2 border-bottom border-1">
        </div>
        <div class="email mb-4">
            <label for="" class="text-success px-2">Email</label>
            <input type="email" placeholder="Email" id="email" class="input border-0 w-100 fs-3 pb-4  pt-2 border-bottom border-1">
        </div>
        <div class="phonenumber mb-4">
            <label for="" class="text-success px-2">PhoneNumber</label>
            <input type="text" placeholder="phonenumber" id="phonenumber" class="input border-0 w-100 fs-3 pb-4  pt-2 border-bottom border-1">
        </div>
        <div class="message mb-4">
            <label for="" class="text-success px-2">Message</label>
            <textarea name="" id="txtarea" cols="10" rows="3" class="input border-0 w-100 fs-3 pb-4  pt-2 border-bottom border-1"></textarea>
        </div>
        <div>
            <button class="text-white bg-success px-4 py-2 border-0 fs-4 rounded-3">Send</button>
        </div>
    </div>



    </div>
</section>