

<section class="portfolio py-4 my-2">    <div class="container">
        <div class="title mb-4 mb-3">
            <h1 class="text-primary mt-4  fw-bold display-5 text-center">portfolio</h1>
            <div class="after-title my-4 border border-2 border-primary my-4 position-relative w-25 m-auto text-center">
            <i class="translate-middle text-primary bg-white fa-solid fa-star fs-1 p-2 position-absolute"></i>
        </div>
        </div>
        <div class="row g-5 my-4" >
            <!-- ///// -->
            <div class="box col-md-4 col-sm-6 rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="position-relative">
                    <div class="layer  position-absolute">
                        <i class="fa-solid fa-plus display-5 fw-bold text-white"></i>
                    </div>
                    <img src="assets/images/cabin.png" class="w-100 rounded-4" alt="">
                </div>
            </div>
            <!-- ///// -->
            <div class="box col-md-4 col-sm-6 rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                <div class="position-relative">
                    <div class="layer  position-absolute">
                        <i class="fa-solid fa-plus display-5 fw-bold text-white"></i>
                    </div>
                    <img src="assets/images/cake.png" class="w-100 rounded-4 " alt="">
                </div>
            </div>
            <!-- ///// -->
            <div class="box col-md-4 col-sm-6 rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                <div class="position-relative">
                    <div class="layer  position-absolute">
                        <i class="fa-solid fa-plus display-5 fw-bold text-white"></i>
                    </div>
                    <img src="assets/images/circus.png" class="w-100 rounded-4 " alt="">
                </div>
            </div>
            <!-- ///// -->
            <div class="box col-md-4 col-sm-6 rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                <div class="position-relative">
                    <div class="layer  position-absolute">
                        <i class="fa-solid fa-plus display-5 fw-bold text-white"></i>
                    </div>
                    <img src="assets/images/game.png" class="w-100 rounded-4 " alt="">
                </div>
            </div>
            <div class="box col-md-4 col-sm-6 rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                <div class="position-relative">
                    <div class="layer  position-absolute">
                        <i class="fa-solid fa-plus display-5 fw-bold text-white"></i>
                    </div>
                    <img src="assets/images/safe.png" class="w-100 rounded-4 " alt="">
                </div>
            </div>
            <div class="box col-md-4 col-sm-6 rounded-4" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                <div class="position-relative">
                    <div class="layer  position-absolute">
                        <i class="fa-solid fa-plus display-5 fw-bold text-white"></i>
                    </div>
                    <img src="assets/images/submarine.png" class="w-100 rounded-4 " alt="">
                </div>
            </div>
  
        </div>
    </div>
</section>
<!-- modal 1 -->
<div class="modal modal-xl fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content vh-100 ">
            <div class="modal-header border-0">
                <i class="fa-solid fa-xmark text-success ms-auto fs-1" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body flex-grow-1">
                <div class="title mb-4">
                    <h1 class="text-primary mt-4  fw-bold display-5 text-center">LOG CABIN</h1>
                    <div class="after-title my-4 border border-2 border-primary my-4 position-relative w-25 m-auto text-center mb-">
                        <i class="translate-middle text-primary bg-white fa-solid fa-star fs-1 p-2 position-absolute"></i>
                    </div>
                    <div class="body-content col-7 mx-auto  my-3">
                        <img src="assets/images/cabin.png" class="w-100 border-rounded-3" alt="">
                        <p class="mt-5 px-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptate ad com
                        modi aspernatur delectus ipsam a ipsum aut nam quos a
                        periam amet corporis deserunt harum rerum corrupti, libero hic provident!</p>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 ">
            <button type="button" class="btn btn-success bg-success text-white mx-auto" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
</div>

<!-- modal 2 -->
<div class="modal modal-xl fade " id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content vh-100 ">
            <div class="modal-header border-0">
                <i class="fa-solid fa-xmark text-success ms-auto fs-1" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body flex-grow-1">
                <div class="title mb-4">
                    <h1 class="text-primary mt-4  fw-bold display-5 text-center">TASTY CAKE</h1>
                    <div class="after-title my-4 border border-2 border-primary my-4 position-relative w-25 m-auto text-center mb-">
                        <i class="translate-middle text-primary bg-white fa-solid fa-star fs-1 p-2 position-absolute"></i>
                    </div>
                    <div class="body-content col-7 mx-auto  my-3">
                        <img src="assets/images/cake.png" class="w-100 border-rounded-3" alt="">
                        <p class="mt-5 px-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptate ad com
                        modi aspernatur delectus ipsam a ipsum aut nam quos a
                        periam amet corporis deserunt harum rerum corrupti, libero hic provident!</p>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 ">
            <button type="button" class="btn btn-success bg-success text-white mx-auto" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
</div>

<!-- modal 3 -->
<div class="modal modal-xl fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content vh-100 ">
            <div class="modal-header border-0">
                <i class="fa-solid fa-xmark text-success ms-auto fs-1" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body flex-grow-1">
                <div class="title mb-4">
                    <h1 class="text-primary mt-4  fw-bold display-5 text-center">CIRCUS TENT</h1>
                    <div class="after-title my-4 border border-2 border-primary my-4 position-relative w-25 m-auto text-center mb-">
                        <i class="translate-middle text-primary bg-white fa-solid fa-star fs-1 p-2 position-absolute"></i>
                    </div>
                    <div class="body-content col-7 mx-auto  my-3">
                        <img src="assets/images/circus.png" class="w-100 border-rounded-3" alt="">
                        <p class="mt-5 px-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptate ad com
                        modi aspernatur delectus ipsam a ipsum aut nam quos a
                        periam amet corporis deserunt harum rerum corrupti, libero hic provident!</p>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 ">
            <button type="button" class="btn btn-success bg-success text-white mx-auto" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
</div>
<!-- modal 4 -->
<div class="modal modal-xl fade " id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content vh-100 ">
            <div class="modal-header border-0">
                <i class="fa-solid fa-xmark text-success ms-auto fs-1" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body flex-grow-1">
                <div class="title mb-4">
                    <h1 class="text-primary mt-4  fw-bold display-5 text-center">CONTROLLER</h1>
                    <div class="after-title my-4 border border-2 border-primary my-4 position-relative w-25 m-auto text-center mb-">
                        <i class="translate-middle text-primary bg-white fa-solid fa-star fs-1 p-2 position-absolute"></i>
                    </div>
                    <div class="body-content col-7 mx-auto  my-3">
                        <img src="assets/images/game.png" class="w-100 border-rounded-3" alt="">
                        <p class="mt-5 px-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptate ad com
                        modi aspernatur delectus ipsam a ipsum aut nam quos a
                        periam amet corporis deserunt harum rerum corrupti, libero hic provident!</p>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 ">
            <button type="button" class="btn btn-success bg-success text-white mx-auto" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
</div>

<div class="modal modal-xl fade " id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content vh-100 ">
            <div class="modal-header border-0">
                <i class="fa-solid fa-xmark text-success ms-auto fs-1" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body flex-grow-1">
                <div class="title mb-4">
                    <h1 class="text-primary mt-4  fw-bold display-5 text-center">LOCKED SAFE</h1>
                    <div class="after-title my-4 border border-2 border-primary my-4 position-relative w-25 m-auto text-center mb-">
                        <i class="translate-middle text-primary bg-white fa-solid fa-star fs-1 p-2 position-absolute"></i>
                    </div>
                    <div class="body-content col-7 mx-auto  my-3">
                        <img src="assets/images/safe.png" class="w-100 border-rounded-3" alt="">
                        <p class="mt-5 px-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptate ad com
                        modi aspernatur delectus ipsam a ipsum aut nam quos a
                        periam amet corporis deserunt harum rerum corrupti, libero hic provident!</p>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 ">
            <button type="button" class="btn btn-success bg-success text-white mx-auto" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
</div>

<div class="modal modal-xl fade " id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content vh-100 ">
            <div class="modal-header border-0">
                <i class="fa-solid fa-xmark text-success ms-auto fs-1" data-bs-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body flex-grow-1">
                <div class="title mb-4">
                    <h1 class="text-primary mt-4  fw-bold display-5 text-center">SUBMARINE</h1>
                    <div class="after-title my-4 border border-2 border-primary my-4 position-relative w-25 m-auto text-center mb-">
                        <i class="translate-middle text-primary bg-white fa-solid fa-star fs-1 p-2 position-absolute"></i>
                    </div>
                    <div class="body-content col-7 mx-auto  my-3">
                        <img src="assets/images/submarine.png" class="w-100 border-rounded-3" alt="">
                        <p class="mt-5 px-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore voluptate ad com
                        modi aspernatur delectus ipsam a ipsum aut nam quos a
                        periam amet corporis deserunt harum rerum corrupti, libero hic provident!</p>
                </div>
            </div>
        </div>
        <div class="modal-footer border-0 ">
            <button type="button" class="btn btn-success bg-success text-white mx-auto" data-bs-dismiss="modal">Close Window</button>
        </div>
      </div>
    </div>
</div>